.footer-container {
    position: relative;             
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    padding: 15px 20px;
    box-sizing: border-box;
    color: rgb(190,200,209);
    margin-top: 30px;
}

/* Text and link styling */
.footer-container a,
.footer-container span {
    color: rgb(190, 200, 209);
    text-decoration: none;
    font-size: 18px;
}


/* Layout sections */
.footer-right {
    flex: 1;
    display: flex;
    justify-content: right;
}

.footer-left{
    flex: 1;
    display: flex;
    justify-content: left;
}

/* Responsive layout */
@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .footer-left,
    .footer-right {
        margin: 5px 0;
    }
}
