body{
    background-color: rgb(27, 27, 27);
    font-family: Roboto;
}

h1{
    color: azure;
}

.header-container{
    display: flex;
    justify-content: center;
}

.header-button-container{
    margin: 20px;
    
}

.header-button{
    transition: 0.3s;
    border-radius: 13px;
    background-color: rgb(25, 135, 198);
    cursor: pointer;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    color: aliceblue;
    font-weight: bold;

}

.header-button:hover{
    transition: 0.3s;
    background-color: gray;
    padding-left: 40px;
    padding-right: 40px;
}

.introduction-container{
    color: white;
    margin: 50px;
    padding-top: 80px;
    padding-bottom: 150px;
    
}

.hello-container{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.name-container{
    font-size: 120px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.short-des-container{
    font-size: 25px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    line-height: 35px;
}

.check-more-container{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin-top: 50px;
}

.check-more-box{
    background-color: rgb(128,128,128, 0.1);
    border-style: solid;
    border-color: rgb(25, 135, 198);
    transition: 0.5s;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.about-me-container{
    background-color: transparent;
    justify-content: center;
    color: aliceblue;
    padding: 20px;
    font-size: 25px;
    
}

.projects-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-size: 20px;
}

.projects{
    background-color: rgb(128,128,128, 0.1);
    border-style: solid;
    border-color: rgb(25, 135, 198);
    width: 500px;
    height: 300px;
    border-radius: 15px;
    padding: 15px;
    color: white;
}

.project-title{
    text-align: center;
    font-weight: bold;
}

.project-tools{
    text-align: center;
    
}

.more-projects{
    align-self: flex-end;
}

.projects-button{
    background:transparent;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 15px;
    color: aliceblue;
    transition: 0.4s;
}

.projects-button:hover{
    transition: 0.4s;
    font-size: 17px;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-box{
    background-color: rgb(128,128,128, 0.1);
    border-style: solid;
    border-color: rgb(25, 135, 198);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.contact-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.contact-box{
    background-color: rgb(128,128,128, 0.1);
    border-style: solid;
    border-color: rgb(25, 135, 198);
    transition: 0.5s;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.contact-box:hover{
    transition: 0.5s;
    background-color: rgba(128, 128, 128, 0.525);
}

a:visited{
    text-decoration: none;
}

a{
    text-decoration: none;
}