.header-container{
    display: flex;
    justify-content: center;
}

.header-button-container{
    margin: 20px;
    
}

.header-button{
    transition: 0.3s;
    border-radius: 13px;
    background-color: rgb(25, 135, 198);
    cursor: pointer;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    color: aliceblue;
    font-weight: bold;

}

.header-button:hover{
    transition: 0.3s;
    background-color: gray;
    padding-left: 40px;
    padding-right: 40px;
}

.introduction-container{
    background-color: gray;
    border-radius: 15px;
}

.hello-conainer{
    font-size: 50px;
    width: 300px;
    overflow-wrap: break-word;
    padding-left: 50px;
}

.about-me-container{
    background-color: gray;
    justify-content: center;
    border-radius: 15px;

}

.about-me-container{
    color: aliceblue;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    
}
