body{
    background-color: rgb(27, 27, 27);
    font-family: Roboto;
}

.header-container{
    position: fixed; 
    top: 0;
    left: 0;  
    display: flex;
    justify-content: center;
    background-color: rgba(35, 35, 35, 0.8);
    backdrop-filter: blur(10px);
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.header-button-container{
    margin: 20px;
    
}

.header-button{
    transition: 0.3;
    background: none;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    border:none;
    color: white;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.header-button.active {
    transition: 0.3s;
    border-bottom: 2px solid rgb(49,230,240);
    font-weight: bold;
}

.header-button:hover{
    transition: 0.2s;
    border-bottom: 2px solid #aaa;
}

a:visited{
    text-decoration: none;
}

a{
    text-decoration: none;
}