body{
    background-color: rgb(37,37,37);
    font-family: Roboto;
}

.header-container{
    position: fixed; 
    top: 0;
    left: 0;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(35, 35, 35, 0.8);
    backdrop-filter: blur(10px);
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.header-name{

    color: rgb(190,200,209);
    font-size: 30px;
    flex: 1; 
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.resume-link{
    flex: 1; 
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.header-resume-button{
    transform: 0.5s;
    border-radius: 5px;
    font-size: 25px;
    background-color: rgb(134,206,203,0.5);
    border-style: solid;
    color: rgb(190,200,209);
    border-color: rgb(49,230,240);
    border-width: 1.5px;
    transition: 0.5s;
}

.header-resume-button i{
    transition: transform 0.5s ease;
    font-size: 20px;
}

.header-resume-button:hover{
    transition: 0.5s;
    background-color: rgb(134,206,203, 0.65);
    box-shadow: 0 10px 20px rgba(49,230,240, 0.2);
    padding-right: 10px;
}

.header-resume-button:hover i{
    transition: 0.5s;
    transform: translateX(5px);
}

.header-navigate{
    position: relative;
    display: flex;
    justify-content: center;
    flex: 2;
    gap: clamp(10px, 5vw, 50px);
    padding: 20px 0;
}

.header-button-container{
    margin: 20px;
}

.header-button{
    background: none;
    border: none;
    color: white;
    font-size: clamp(14px, 2vw, 18px);
    cursor: pointer;
    position: relative;
}

.header-button.active {
    font-weight: bold;
}

.header-button:hover{
    transition: 0.2s;
    border-bottom: 2px solid #aaa;
}

.underline {
    position: absolute;
    height: 3px;
    background: rgb(49,230,240);
    border-radius: 3px;
    bottom: 40px;
    transition: left 0.2s, width 0.2s;
}

nav {
    position: relative;
}

a:visited{
    text-decoration: none;
}

a{
    text-decoration: none;
}

@media (max-width: 900px) {
    .header-name{
        display: none;
    }

    .header-container{
        justify-content: center;
        gap: 10px;
    }

    .header-navigate{
        flex: none;
        gap: clamp(5px, 4vw, 25px);
        padding: 10px 0;
    }

    .resume-link{
        flex: none;
        margin-left: 0;
    }

    .header-resume-button{
        font-size: clamp(16px, 2vw, 20px);
        padding: clamp(6px, 1vw, 10px) clamp(12px, 2vw, 18px);
    }

    .header-resume-button:hover{
        padding-right: 16px;
    }

    .underline {
        bottom: 30px;
        transition: left 0.2s ease, width 0.2s ease;
    }
}