h1{
    color: rgb(190,200,209);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-decoration: none;

}

.project-title{
    text-decoration: underline rgb(49,230,240) 2.5px;
    font-weight: bold;
}

.period {
  color: #e12885;
  text-decoration: none;
  font-family: "Notable", sans-serif;
  font-style: normal;
}

.introduction-to-projects{
    color: white;
    padding-top: 150px;
    padding-bottom: 100px;
    justify-content: center;
    font-size: 20px;
}

.work-summary{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    line-height: 30px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInBottom 1s forwards;
}

.project-work-container{
    color: white;
    font-size: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.project-date{
    text-align: left;
    width: 100%;
    line-height: 30px;
    color: rgba(190,200,209, 0.75);
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInLeft 1s forwards;
}

.project-summary{
    text-align: left;
    width: 100%;
    line-height: 30px;
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInLeft 1s forwards;
}

.project-work-container img{       
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 20px;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgba(192, 192, 192, 0.244);
}

.project-tools{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInBottom 1s forwards;
}

.tool-box{
    width: clamp(20px, 15vw, 200px);
    transition: 0.3s;
    background-color: rgb(49,230,240, 0.1);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(49,230,240);
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-size: clamp(10px, 2vw, 20px);
    text-align: center;
    box-sizing: border-box;
}

.tool-box:hover{
    transition: 0.3s;
    color: rgb(49,230,240);
    background-color: rgb(49,230,240, 0.2);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(49,230,240, 0.2);
}

.more-info-project{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.check-more-box{
    color: rgba(190,200,209);
    transition: 0.5s;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(190,200,209,0.1);
    border-width: 1.5px;
}

.check-more-box i{
    transition: 1s;
}

.check-more-box:hover{
    transition: 0.5s;
    padding-right: 15px;
}

.check-more-box:hover i:last-child{
    transition: 0.5s;
    transform: translateX(5px);
}

.check-more-box:hover i:first-child{
    transition: 0.5s;
    color: rgb(49,230,240, 0.2);
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fadeInBottom {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}